.exercise-card {
  .details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    &__single {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
