.exercise {
  &-layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  &-meta-data {
    &.beginner {
      color: $accent-color;
    }

    &.intermediate {
      color: $warn-color;
    }

    &.advanced {
      color: $danger-color;
    }
  }
}
