<ng-container *ngIf="vm$ | async as vm">
  <shared-search
    [searchTerm]="vm.searchValues.term"
    (searchChange)="onSearchChange($event)"
  ></shared-search>

  <div class="advanced-search">
    <button nz-button nzType="text" (click)="onAdvancedSearchOpen()">
      {{ "advancedSearch" | translate }}
    </button>
  </div>

  <ui-advanced-search-tags
    [tags]="getTags(vm.searchValues)"
    (removeSearchCriteria)="onAdvancedSearchChange($event, vm.page)"
  ></ui-advanced-search-tags>

  <ui-advanced-search-modal
    [isVisible]="vm.isModalVisible"
    [status]="vm.status"
    [total]="vm.total"
    [searchValues]="vm.searchValues"
    (closeModal)="onModalClose()"
    (searchChange)="onSearchChange($event)"
    (advancedSearchChange)="onAdvancedSearchChange($event, vm.page)"
  ></ui-advanced-search-modal>

  <ng-container *ngIf="vm.status === 'success'">
    <shared-pagination-meta-data
      [total]="vm.total"
    ></shared-pagination-meta-data>

    <div class="list">
      <ui-exercise-card
        *ngFor="let exercise of vm.exercises"
        [exercise]="exercise"
      ></ui-exercise-card>
    </div>

    <ui-exercise-no-data
      *ngIf="!vm.exercises.length"
      [showNoData]="true"
    ></ui-exercise-no-data>
  </ng-container>

  <ng-container *ngIf="vm.status === 'loading'">
    <shared-loading-cards [numberOfCards]="5"></shared-loading-cards>
  </ng-container>

  <shared-pagination
    [page]="vm.page"
    [total]="vm.total"
    [pageSize]="10"
    (pageChanged)="onPageChange($event)"
  ></shared-pagination>
</ng-container>
