<nz-space
  [nzSplit]="splitTemplate"
  [ngClass]="['justify-between w-full mt-3', compact ? 'py-0 px-7 mt-0' : '']"
>
  <nz-space *nzSpaceItem nzAlign="center" nzSize="small">
    <span *nzSpaceItem nz-icon nzType="star"></span>
    <span *nzSpaceItem>{{ exercise.Category }}</span>
  </nz-space>

  <nz-space *nzSpaceItem nzAlign="center" nzSize="small">
    <span *nzSpaceItem nz-icon nzType="skin"></span>
    <span *nzSpaceItem>{{ exercise.target.Primary[0] }}</span>
  </nz-space>

  <nz-space
    *nzSpaceItem
    nzAlign="center"
    nzSize="small"
    [ngClass]="['exercise-meta-data', getDifficultyClass(exercise.Difficulty)]"
  >
    <span *nzSpaceItem nz-icon nzType="fire"></span>
    <span *nzSpaceItem>{{ exercise.Difficulty }}</span>
  </nz-space>

  <ng-template #splitTemplate>
    <nz-divider nzType="vertical"></nz-divider>
  </ng-template>
</nz-space>
