<nz-card class="exercise-card" [nzCover]="coverTemplate">
  <nz-card-meta [nzTitle]="titleTemplate"></nz-card-meta>
  <ui-exercise-meta-data [exercise]="exercise"></ui-exercise-meta-data>

  <ng-template #coverTemplate>
    <shared-video [source]="exercise.videoURL[0]"></shared-video>
  </ng-template>

  <ng-template #titleTemplate>
    <a [routerLink]="[exercise.id]">
      <h4 nz-typography style="display: inline-block">
        {{ exercise.exercise_name }}
      </h4>
    </a>
  </ng-template>
</nz-card>
